{% extends 'base.html.twig' %}

{% block title %}Jūsų užsakymai{% endblock %}

{% block body %}

<div class="container" style="width:20%">
<table border="1">
<tr>
<th>Data</th>
<th>Pradžios laikas</th>
<th>Automobilis</th>
<th>Kaina</th>
</tr>
</table>
&nbsp;
<h1 class="h4">Išrinkti užsakymus</h1><br>
<p>Data nuo
<input type="Date">
<p>Data iki
<input type="Date" style="margin-left:13px"><br>
<p><input type="Submit" value="Tikrinti" style="margin-left:75px">
</div>

{% endblock %}