{% extends 'base.html.twig' %}

{% block title %}Prisijungti{% endblock %}

{% block body %}
	<style>
	.error{color:red;}
	</style>

{% if error %}
	<span class="error">{{ error.messageKey }} </span>
{% endif %}

<div class="container" style="width:20%">
<form class="{{path('prisijungti')}}" method="POST" align="center">
<h1 class="h3">Prisijunkite</h1>

<input type="text" name="_username" value="{{ paskutinis_vartotojas }}" placeholder="el. pašto adresas">
<input type="password" name="_password" placeholder="slaptažodis">

<p><button type="submit">Prisijungti</button>
</form>
</div>
<p><a href="/kprofilis" class="button">Klientui</a>
<a href="/darbuotojas/profilis" class="button">Darbuotojui</a>

{% endblock %}