{% extends 'base.html.twig' %}

{% block title %}Naujas darbuotojas{% endblock %}

{% block body %}
    <div class="container mt-5">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Vardas</th>
      <th scope="col">Pavarde</th>
      <th scope="col">E.Pastas</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for user in users  %}
  {% if user.role == 1 %}
    <tr>
      <td>{{user.vardas}}</td>
      <td>{{user.pavarde}}</td>
      <td>{{user.ElPastas}}</td>
        <td>
  <a href="{{path('redaguoti', {id: user.id})}}"><button type="button" class="btn btn-primary">Pridėti/Redaguoti</button></a>
    </td>
    {% endif %}
    {% else %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}