{% extends 'base.html.twig' %}

{% block title %}Darbuotojo grafikas{% endblock %}

{% block body %}
    <div class="container mt-5">
      <div class="row row-striped">
        <div class="col-2 text-right">
          <h1 class="display-4"><span class="badge badge-secondary">8</span></h1>
          <h2>Lap</h2>
        </div>
        <div class="col-10">
          <h3 class="text-uppercase"><strong>Ketvirtadienis</strong></h3>
          <ul class="list-inline">
            <li class="list-inline-item"><i class="far fa-clock"></i></i> 09:00 - 18:00</li>
          </ul>
          <p>Darbas ofise.</p>
        </div>
      </div>
      <div class="row row-striped">
        <div class="col-2 text-right">
          <h1 class="display-4"><span class="badge badge-secondary">9</span></h1>
          <h2>Lap</h2>
        </div>
        <div class="col-10">
          <h3 class="text-uppercase"><strong>Penktadienis</strong></h3>
          <ul class="list-inline">
            <li class="list-inline-item"><i class="far fa-clock"></i></i> 08:00 - 12:30</li>
          </ul>
          <p>Darbas iš namų iki pietų.</p>
        </div>
      </div>
    </div>
{% endblock %}