{% extends 'base.html.twig' %}

{% block title %}Jūsų užsakymai{% endblock %}

{% block body %}

<div class="container mt-3">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Data</th>
      <th scope="col">Automobilis</th>
      <th scope="col">Keliones laikas</th>
      <th scope="col">Nuvaziuotas atstumas</th>
      <th scope="col">Kaina</th>
    </tr>
  </thead>
  <tbody>
    {% for i in 0..5 %}
    <tr>
      <th scope="row">{{i+1}}</th>
      <td>2018 07 {{5 + i}}</td>
      <td>Honda Civic</td>
      <td>{{15+i*5}}min.</td>
      <td>{{25+i*8}}km.</td>
      <td>{{5+i*3}}EUR.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
    &nbsp;
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="h4">Išrinkti užsakymus</h1><br>
            <p>Data nuo
            <input type="Date">
            <p>Data iki
            <input type="Date" style="margin-left:13px"><br>
            <p><input type="Submit" value="Tikrinti" style="margin-left:75px">
        </div>
    </div>
    <div class="container">
        <a href="naujas-uzsakymas">
          <button type="button" class="btn btn-dark">Naujas uzsakymas</button>
        </a>
    </div>
</div>

{% endblock %}