{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://loremflickr.com/g/320/240/car?lock=1" alt="Automobilis">
                <div class="card-body">
                  <p class="card-text">Automobilio aprasymas</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://loremflickr.com/g/320/240/car?lock=2" alt="Automobilis">
                <div class="card-body">
                  <p class="card-text">Automobilio aprasymas</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://loremflickr.com/g/320/240/car?lock=3" alt="Automobilis">
                <div class="card-body">
                  <p class="card-text">Automobilio aprasymas</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://loremflickr.com/g/320/240/car?lock=4" alt="Automobilis">
                <div class="card-body">
                  <p class="card-text">Automobilio aprasymas</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://loremflickr.com/g/320/240/car?lock=5" alt="Automobilis">
                <div class="card-body">
                  <p class="card-text">Automobilio aprasymas</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://loremflickr.com/g/320/240/car?lock=6" alt="Automobilis">
                <div class="card-body">
                  <p class="card-text">Automobilio aprasymas</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-4">
          <a class="btn btn-outline-primary mb-3 btn-block" href="/automobiliu-statistika" role="button">Naudojimo statistika</a>
          <h3>Filtrai</h3>
          <form>
            <div class="form-group">
              <label for="marke">Markė</label>
              <select id="marke" class="form-control">
                <option selected>-</option>
                <option>BMW</option>
                <option>Audi</option>
                <option>Opel</option>
              </select>
            </div>
            <div class="form-group">
              <label for="deze">Pavarų dėžė</label>
              <select id="deze" class="form-control">
                <option selected>-</option>
                <option>Automatinė</option>
                <option>Mechaninė</option>s
              </select>
            </div>

            <div class="form-row">
              <div class="form-group col-6">
                <label for="metai_nuo">Metai nuo</label>
                <input type="number" class="form-control" id="metai_nuo">
              </div>
              <div class="form-group col-6">
                <label for="metai_iki">Metai iki</label>
                <input type="number" class="form-control" id="metai_iki">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-6">
                <label for="kaina_nuo">Kaina nuo</label>
                <input type="number" class="form-control" id="kaina_nuo">
              </div>
              <div class="form-group col-6">
                <label for="kaina_iki">Kaina iki</label>
                <input type="number" class="form-control" id="kaina_iki">
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>
{% endblock %}