{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <div class="container mt-5">
      <div class="row">

        <div class="col-xl-3 col-lg-6 col-12 mb-3">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="fas fa-car fa-3x"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>240</h3>
                    <span>Automobilių sistemoje</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 mb-3">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="fas fa-space-shuttle fa-3x"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>240 576</h3>
                    <span>Nuvažiuota (km)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 mb-3">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="fas fa-map-marked-alt fa-3x"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>1576</h3>
                    <span>Įvykdyta kelionių</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 mb-3">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="fas fa-calendar fa-3x"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>8.6</h3>
                    <span>Vid. automobilių amžius</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 mb-3">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="fas fa-euro-sign fa-3x"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>0.30</h3>
                    <span>Vid. minutės kaina (€)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 mb-3">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="fas fa-car-side fa-3x"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>BMW</h3>
                    <span>Populiariausia markė</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
{% endblock %}